{% extends "rms.html" %}

{% block title %}BOSS{% endblock %}

{% block title2 %}BOSS{% endblock %}





{% block container %}


<div class="row justify-content-center">
  <div class="col-sm-3 bg-light border rounded border-dark">
    <b>圖片</b>
  </div>
  <div class="col-sm-6 bg-light border rounded border-dark">
    <b>資訊</b>
  </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-sm-3 bg-light border rounded " >
      <img  src="{{ url_for('static', filename='img/boss5.png') }}"  style="vertical-align:middle;" alt=""  width="150" >
    </div>
    <div class="col-sm-6 bg-light rounded border-bottom border-right border-top">
      <p>拉圖斯<p>
        <button id="myImg" onclick="myFunction('truth.bahamut.com.tw/s01/201111/32bf20bd9e310692730cfd5ba86c026a.JPG', '拉圖斯')"  class="btn btn-lg btn-primary" >位置</button>
        <div id="myModal" class="modal">    
        <span class="close">&times;</span>
          <img class="modal-content" id="img01" >
          <div id="caption"></div>
        </div>
    </div>
  </div>
<img src="https://i.imgur.com/H0qIn6L.png" alt="">
  <div class="row justify-content-center">
    <div class="col-sm-3 bg-light border rounded " >
      <img  src="{{ url_for('static', filename='img/pig.png') }}"  style="vertical-align:middle;" alt=""  width="150" >
    </div>
    <div class="col-sm-6 bg-light rounded border-bottom border-right border-top">
      <p>野豬王<p>
        <button id="myImg" onclick="myFunction('github.com/tototoco/homework/blob/master/pigin.png?raw=true', '野豬王')"  class="btn btn-lg btn-primary" >位置</button>
        <div id="myModal" class="modal">    
        <span class="close">&times;</span>
          <img class="modal-content" id="img01" >
          <div id="caption"></div>
        </div>

    </div>
  </div>

  {% for boss in bosses %}
  <div class="row justify-content-center">
    <div class="col-sm-3 bg-light border rounded " >
      <img  src="{{boss.url}}" style="vertical-align:middle;" alt="" width="150"  >
    </div>
    <div class="col-sm-6 bg-light rounded border-bottom border-right border-top">
      <p>名稱:{{boss.name}}，等級:{{boss.lv}}血量:{{boss.hp}}經驗值:{{boss.exp}}<p>
        <button id="myImg" onclick="myFunction('pic.pimg.tw/tiger183philips/4af6d0c24de29.jpg', '{{boss.name}}')"  class="btn btn-lg btn-primary" >位置</button>
        <div id="myModal" class="modal">    
        <span class="close">&times;</span>
          <img class="modal-content" id="img01">
          <div id="caption"></div>
        </div>

    </div>
  </div>

{% endfor %}

  <div class="row justify-content-center">
    <div class="col-sm-3 bg-light border rounded " >
      <img  src="{{ url_for('static', filename='img/fly.png') }}"  style="vertical-align:middle;" alt=""  width="150" >
    </div>
    <div class="col-sm-6 bg-light rounded border-bottom border-right border-top">
      <p>蝴蝶<p>

            <button id="myImg" onclick="myFunction('github.com/tototoco/homework/blob/master/pigin.png?raw=true', '蝴蝶')"  class="btn btn-lg btn-primary" >位置</button>
            <div id="myModal" class="modal">    
            <span class="close">&times;</span>
              <img class="modal-content" id="img01">
              <div id="caption"></div>
            </div>
 
    </div>
  </div>

<div class="row"><br></div>
<div class="row justify-content-center">
  <div class="col-sm-2  bg-light ">
    <a href="/home/rms/bossupdate">更新王的資料</a>
    </div>
  <div class="col-sm-2  bg-light ">
  <a href="/home/rms">回上一頁</a>
  </div>
  <div class="col-sm-2  bg-light ">
    <a href="/home/rms/bossdelete">刪除王的資料</a>
    </div>
</div>
<div class="row"><br></div>

{% endblock %}

<!--https://medium.com/seaniap/python-web-flask-get-post%E5%82%B3%E9%80%81%E8%B3%87%E6%96%99-2826aeeb0e28-->